#home-container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  #home-container {
    max-width: 1400px;
  }
}

/*#home-h1{
  font-size: 100px;
}
*/
#home-h1{
  font-size: 100px;

  color: red;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {color: red;}
  25%  {color: orange;}
  50%  {color: blue;}
  100% {color: green;}
}

p{
  font-size: 20px;
}